* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
}

body {
	position: relative;
	background-color: rgb(41,189,193);
}

.container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#canvas {
	border: 2px solid #03045a;
}

button {
	padding: 10px 15px;
	border-radius: 0;
}
